body {
    background-image: url(https://st.depositphotos.com/2228340/2414/i/450/depositphotos_24141123-stock-photo-seamless-clouds.jpg);
  }
  h1 {
    color: rgb(102, 255, 0);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 4px 2px #000000;
  }
  
  p {
    font-family: unset;
    font-size: 20px;
    text-align: center;
  }
  p.solid {border-style: solid;}

  div.static {
    position: static;
    border: 3px solid #73AD21;
  }
  h1 {
    text-shadow: 2px 2px;
  }
  .foto-principal{
    width: 30%;
  }
  #dov{
    display: flex;
    justify-content: center;
  }
  #div-video{
    display: flex;
    justify-content: center;    
  }
  .titulo{
    text-shadow: 2px 4px 2px #000000;
  }
  .segundo-texto{
    text-shadow: 1px 1px 1px #00ffc8;
  }
  h2{
    text-shadow: 5px 5px 5px #0099ff;
  }
  h3{
    text-shadow: 10px 10px 10px rgb(182, 182, 182);
  }
  h4{
    text-shadow: 1px 2px 1px #fffd9b;
  }
  h5{
    color: brown;
  }
  h6{
    color: gray;
  }
  #video-do-youtube{
    display: flex;
    justify-content: center;
  }